*, *::after, *::before {
    box-sizing: border-box;
}

body {
    color: #191919;
    font-family: "Roboto";
}

h1 {
    font-family: "Spectral";
}

.main-container {
    margin-inline: auto;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #ffc017;
    border-bottom: 1.5px solid #191919;
    margin-bottom: 5em;
}

li {
    display: inline-block;
    padding-inline: 0.5em;
}

nav {
    width: 80%;
    margin-inline: auto;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.5em;
}

nav img {
    width: 150px;
}

hr {
    color: #191919;
}

.hero {
    width: 80%;
    margin-inline: auto;
    justify-content: space-between;
    margin-block: 5em;
}

h1 {
    font-size: 5rem;
    margin-bottom: 0.3em;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2em;
}

.trend-zone {
    width: 80%;
    margin-inline: auto;
    flex-wrap: wrap;
    row-gap: 5em;
    margin-bottom: 5em;
}

.trending {
    width: 33.333%;
    flex-shrink: 0;
}

.author {
    align-items: center;
}

.author img {
    border-radius: 50%;
    margin-right: 0.5em;
    width: 20px;
}

.author p {
    font-weight: bold;
}

.author span {
    font-weight: normal;
}

h4 {
    font-weight: bold;
    margin-block: 0.7em;
}

.date {
    color: #757575;
    font-weight: 200;
}

.number {
    font-size: 2rem;
    margin-right: 0.5em;
    opacity: 20%;
}

.more-articles {
    width: 80%;
    margin-inline: auto;
    justify-content: space-evenly;
}

.suggested-article {
    justify-content: space-between;
    margin-block: 2em;
}

h3 {
    font-size: 1.9rem;
    font-weight: bold;
    margin-block: 0.5em;
}

.suggested-article .date {
    margin-top: 0.5em;
}

.suggested-article > img {
    width: 250px;
    object-fit: cover;
}

.text-preview {
    font-weight: 200;
}

.date span {
    background-color: #F2F3F3;
    padding-inline: 0.6em;
    border-radius: 25px;
}