*, *::after, *::before {
    box-sizing: border-box;
}

body {
    color: #191919;
    font-family: "Roboto";
}

a {
    color: #191919;
    text-decoration: none;
}

a:visited {
    color: #191919;
}

h1 {
    font-family: "Spectral";
    font-size: 6rem;
    margin-bottom: 0.3em;
}

.main-container {
    margin-inline: auto;
    margin-top: 75px;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #ffc017;
    border-bottom: 1.5px solid #191919;
    margin-bottom: 5em;
}

li {
    display: inline-block;
    padding-inline: 0.5em;
}

nav {
    position: fixed;
    top: 0;
    background-color: #ffc017;
    width: 100%;
    margin-inline: auto;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.5em;
    border-bottom: 1px solid #191919;
}

.navbar-container {
    width: 80%;
    margin-inline: auto;
    justify-content: space-between;
    z-index: 99;
}

nav img {
    width: 150px;
}

hr {
    color: #191919;
}

.image-container img {
    width: 500px;
}

.hero {
    width: 80%;
    margin-inline: auto;
    justify-content: space-between;
    padding-top: 5em;
    background-color: #ffc017;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2em;
}

.trend-zone {
    width: 80%;
    margin-inline: auto;
    flex-wrap: wrap;
    row-gap: 5em;
    margin-bottom: 5em;
}

.trend-heading {
    align-items: center;
    font-weight: 700;
    width: 80%;
    margin-inline: auto;
    margin-bottom: 1em;
}

.trend-heading img {
    margin-right: 0.5em;
}

.trending {
    width: 33.333%;
    flex-shrink: 0;
}

.author {
    align-items: center;
}

.author img {
    border-radius: 50%;
    margin-right: 0.5em;
    width: 20px;
}

.author p {
    font-weight: bold;
}

.author span {
    font-weight: normal;
}

h4 {
    font-weight: bold;
    margin-block: 0.7em;
}

.date {
    color: #757575;
    font-weight: 200;
}

.number {
    font-size: 2rem;
    margin-right: 0.5em;
    color: #D1D1D1;
}

.suggested-content {
    width: 80%;
    margin-inline: auto;
}

.more-articles {
    width: 60%;
    justify-content: space-evenly;
}

.suggested-article {
    justify-content: space-between;
    margin-block: 2em;
}

h3 {
    font-size: 1.9rem;
    font-weight: bold;
    margin-block: 0.5em;
}

.suggested-article .date {
    margin-top: 0.5em;
}

.suggested-article > img {
    width: 250px;
    object-fit: cover;
}

.text-preview {
    font-weight: 200;
}

.date span {
    background-color: #F2F3F3;
    padding-inline: 0.6em;
    border-radius: 25px;
}

.article-text {
    margin-right: 2em;
}

aside {
    width: 40%;
    padding-left: 4em;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 1em;
    border-bottom: 1px solid #e6e7e7;
}

.category {
    border: 1px solid #E6E7E7;
    font-weight: 200;
    border-radius: 5px;
}

.category p {
    padding: 0.5em;
}

h5 {
    margin-bottom: 1em;
    font-weight: 500;
}

.footer-links {
    margin-top: 1em;
    flex-wrap: wrap;
    row-gap: 10px;
}

.footer-links a {
    font-weight: 200;
    padding-right: 1em;
}

button {
    background-color: #191919;
    color: #ffffff;
    border: none;
}

nav button {
    padding-block: 0.9em;
    padding-inline: 1.5em;
    border-radius: 30px;
    cursor: pointer;
}

.hero button {
    padding-block: 1em;
    padding-inline: 3.5em;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
}

.sticky-aside {
    position: sticky;
    top: 0;
    padding-top: 2em;
}